.mainblock {
    width: 1280px;
    margin: 0 auto;
    color: black;

}
.bluetext {
    display: inline-block;
    text-align: left;
    font-family: sans-serif;
    font-size: 80px;
    text-decoration: none;
    color: #4bcaff;
    margin: 30px auto 30px auto;
}
.nav {
    overflow: hidden;
    background-color: #35444f;

}
.mainmenu {
    width: 1080px;
    margin: 0 auto;
    list-style-type: none;
}
.list {
    list-style-type: none;
    display: inline-block;

}
.mainmenulist {
    display: inline-block;
    /*float: left;*/
    width: auto;
    padding: 26px 42px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: sans-serif;
    border: 1px solid transparent;

}
.leftcontentborder {
    width: 330px;
    /*float: left;*/
    display: inline-block;
    border: black 1px solid;
    margin: 60px auto auto 0px;
    font-family: sans-serif;
    text-align: left;
}
.leftcontent {
    padding: auto;
    list-style-type: none;
}
.leftcontentfont {
    list-style-type: none;
}
.leftcontentfontin {
    border: 1px solid transparent;
    box-sizing: inherit;
    text-decoration: none;
    font-size: 30px;
    color: #495863;
    padding: 30px;
    display: block;

}
.rightcontent {
    width: 900px;
    float: right;
    text-align: center;

}
.img {
    border: black 1px solid;
    margin: 60px 0px 60px 0px;
    padding: 80px 282px 80px 283px;
}
.textincontent {
    font-size: 18px;
    font-family: sans-serif;
    text-align: left;
}
.footer {
    overflow: hidden;
    background-color: #b4b7ba;
}
.lifooterhorizont {
    display: inline-block;
    /*float: left;*/
    width: auto;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: sans-serif;
    padding: 22px 25px;
}
.blacklink {
    text-decoration: none;
    color: black;
    display: inline-block;

}
.copyright {
    display: inline-block;
    /*float: right;*/
    color: black;
    font-family: sans-serif;
    font-size: 24px;
    padding: 22px 0px 22px 135px;
}
a.mainmenulist:hover {
    background: #222f3a;
    border: 1px solid #818181;
}
a.leftcontentfontin:hover {
    background-color: lightgray;
    color: black;
    /*transform: translatex(20px);*/
    padding-left: 75px;
}
a.blacklink:hover {
    color: blue;
    text-decoration: underline;
}